.about-page-container {
    grid-column: 2/3;
    justify-items: center;
    padding: 0px 14rem;
    margin-bottom: 3rem;
}

.about-page p {
    color: rgb(149, 149, 149);
    font-family: 'Roboto', sans-serif;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: .4em;
}

.about-page hr {
    margin-bottom: 3rem;
}

.button-row {
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
}