@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap');

body * {
  font-family: "Rubik", sans-serif;
}


.App-grid-wrapper {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-auto-rows: minmax(100px, auto);
}

.App-grid-wrapper > div {

}
