@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap');



body * {
  font-family: "Rubik", sans-serif;
}


.App-grid-wrapper {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-auto-rows: minmax(100px, auto);
}

.App-grid-wrapper > div {

}

.HomePage-wrapper hr,
.AboutPage-wrapper,
.ProjectsPage-wrapper,
.TechnologiesPage-wrapper,
.ContactPage-wrapper hr {
  
}

.TechnologiesPage-wrapper {
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}

/* .HomePage-wrapper > div:nth-child(even) {
  background: linear-gradient(to left, #f0f0f0, #ffffff);
}

.HomePage-wrapper > div:nth-child(odd) {
  background: linear-gradient(to right, #f0f0f0, #ffffff);
}
 */