.InfoTextBox-outer-container {
    text-align: left;
    padding: 1rem 14rem
}

/* .InfoTextBox-grid-container h2 {
    padding: .1em 14rem;
}

.InfoTextBox-grid-container p {
    padding: .1rem 14rem    
} */

.InfoTextBox-grid-container p {
    color: rgb(149, 149, 149);
    font-family: 'Roboto', sans-serif;
}