.PageTextImgItem-wrapper {
    grid-column: 2;
    padding: 1rem 0rem;
}

.PageTextImgItem-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-column-gap: 3rem;
}

.PageTextImgItem-wrapper > div {

    padding: 40px
}

.PageText-content-container {
    text-align: center;
}

.PageText-content-container p {
    color: rgb(149, 149, 149);
    font-family: 'Roboto', sans-serif;
}

.page-img-container img {
    max-height: 300px;
    max-width: auto 0;
    box-sizing: border-box;
    justify-self: center;
}