.PageTextImgItem-wrapper {
    grid-column: 2/3;
    padding: 1rem 0rem;
    padding-bottom: 2em;
    justify-items: center;
    align-items: center;
    align-content: center;  
    
}

.PageTextImgItem-flex-wrapper {
    display: flex;
    align-items: center;
    justify-items: space-around;
    justify-content: center;
}

.PageTextImgItem-flex-wrapper > div {
    padding: 0em 2em;
}

.PageTextImgItem-wrapper > div {
    display: flex;
}

.PageText-content-container {
    text-align: center;

}

.PageText-content-container p {
    color: rgb(149, 149, 149);
    font-family: 'Roboto', sans-serif;
}

.page-img-container img {
    max-height: 300px;
    max-width: 533px;
    box-sizing: border-box;
    justify-self: center;
}