.ProjectsPage-wrapper {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 30px;
    justify-items: center;
}

.ProjectsPage-wrapper p {
    color: rgb(138, 138, 138);
    font-family: 'Roboto', sans-serif;
}

Button a {
    text-decoration: none;
    color: white;
}