.SiteHeader-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-column: 1/4;
  background-color: rgb(36, 36, 36);
  padding-bottom: 200px;
  background: radial-gradient(110% 50% at bottom, transparent 50%, rgb(32, 32, 32) 51%);
}

.SiteHeader-grid-wrapper > div {
    display: flex;
    padding: 1em;
    
}
.SiteHeader-grid-wrapper h2 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}


.SiteHeader-grid-wrapper h4 {
  color: rgb(149, 149, 149);
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.SiteHeader-text-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.SiteHeader-btn-container {
  align-self: center;
  align-items: center;
}

.SiteHeader-icon-container {
  align-self: center;
  align-items: center;
  border: white solid 1px;
  border-radius: 5px;
  padding: .5em 1em;
  transition: background .3s;
  position: relative;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.SiteHeader-icon-container .img-top {
  display: none;
  position: absolute;
  top: .6em;
  left: 1em;
}

.SiteHeader-icon-container:hover {
  background: white;
}

.SiteHeader-icon-container:hover .img-top{
  display: flex;
}



.SiteHeader-img-container {
  grid-column: 3;
  justify-self: center;
}

.SiteHeader-img-container img {
  max-height: 400px;
  max-width: auto;
}