.my-header {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 32, 32);
  margin: 0 auto;
  padding-bottom: 200px;
  background: radial-gradient(110% 50% at bottom, transparent 50%, rgb(32, 32, 32) 51%);
  justify-content: center;
}


.header-container {
  display: flex;
  flex-direction: row;
  margin-left: 275px;
  margin-right: 275px;
  align-items: center;
  justify-content: space-around;
  
}

.header-container h2 {
  font-weight: normal;
  padding-bottom: 5px;
  padding-top: 25px;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  
}

.header-content {
  width: auto 0;
}

.header-container h4 {
  color: rgb(149, 149, 149);
  font-weight: lighter;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}


.header-image img {
  width: 247px;
  height: 346px;
}

.img-figure {
  border: black 20px solid;
  border-radius: 5px;
  margin-left: 150px;
}

.header-button-container {
   
  padding-top: 35px;
  padding-left: 15px;  
}
