.site-header {
    background-color: rgb(27, 27, 27);
    
}

.navbar-container {
    display: flex;
    align-items: stretch;
    padding-top: 5px;
    padding-bottom: 40px;
    align-items: center;
    align-content: center;
    margin-right: 150px;
    margin-left: 150px
}

.navbar-container div {
    padding: 10px;
}

.brand-container {
    flex: 3;
    font-size: 2rem;
    font-weight: 0;
    margin-right: 400px; 
}

.brand-container a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.link-container {
    flex: 1
}

.link-container a {
    color: rgb(158, 158, 158);
    font-size: 1rem;
}

.link-container a:hover {
    color:white;
    text-decoration: none;
    font-size: 1.15rem;  
}





